@import url(./font.css);
@import url(./header.css);
@import url(./footer.css);

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
}

/* Banner */

section:nth-child(2){
    background-color: #FBFBFC;
}

section .doc-info{
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}

section .doc-info .img-col img{
    width: 144px;
    height: 144px;
    position: relative;
}

section .doc-info .img-col span{
    display: inline-block;
    width: 40px;
    height: 40px;
    background-color: white;
    background-image: url(../logo/heart-icon.svg);
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    border: 1px solid #EDF0F4;
    border-radius: 100%;
    left: 105px;
    cursor: pointer;
}

section .doc-info .text-col{
    margin-left: 24px;
}

section .doc-info .text-col .upper-col .text p{
    font-size: 20px;
    line-height: 28px;
    font-weight: 500;
    letter-spacing: -0.15px;
    color: #4CB147;
    font-family: 'Hk Grotesk';
    margin-top: 6px;
}

section .doc-info .text-col .upper-col .text h6{
    font-size: 34px;
    line-height: 40px;
    font-weight: 500;
    color: #101825;
    font-family: 'Hk Grotesk';
    margin-top: 4px;
}

section .doc-info .text-col .medium-col ul{
    display: flex;
    margin-top: 4px;
} 

section .doc-info .text-col .medium-col ul li{
    text-align: center;
    margin-left: 6px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: -0.15px;
    font-family: 'Hk Grotesk regular';
}

section .doc-info .text-col .medium-col ul li:first-child{
    margin-left: 0;
}

section .doc-info .text-col .info-col ul{
    display: flex;
    margin-top: 8px;
}

section .doc-info .text-col .info-col ul li{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #848B98;
    margin-left: 4px;
}

section .doc-info .text-col .info-col ul li:first-child{
    margin-left: 0;
}

/* Media-Meet */

section .media-meet-col{
    display: flex;
    display: none;
    padding-bottom: 8px;
}

section .media-meet-col .media-meet-clinic{
    display: flex;
    background-color: white;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    width: 159px;
    height: 47px;
    position: relative;
    transition: ease-in-out .3s;
    cursor: pointer;
}

section .media-meet-col .media-meet-clinic:last-child{
    background-color: white;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    width: 159px;
    height: 47px;
    margin-left: 8px;
    position: relative;
    transition: ease-in-out .3s;
    cursor: pointer;
}

section .media-meet-col .media-meet-clinic:hover{
    background-color: #fff0f0;
    border: 1px solid #D45A5A;
}

section .media-meet-col .media-meet-clinic:hover:last-child{
    background-color: #ecfaed;
    border: 1px solid #4CB147;
}

section .media-meet-col .media-meet-clinic .meet-img img:first-child{
    margin-top: 16px;
    margin-left: 17px;
    position: relative;
    z-index: 9;
    width: 16px;
    height: 16px;
}

section .media-meet-col .media-meet-clinic .meet-img span{
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background-color: #F2FAF2;
    border-radius: 100%;
    top: 8px;
    left: 8px;
}

section .media-meet-col .media-meet-clinic p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.25px;
    margin-left: 12px;
    margin-top: 14px;
}


section .take-meet{
    display: none;
    padding-bottom: 16px;
}

section .take-meet span{
    display: block;
    width: 543px;
    height: 30px;
    background-color: #4CB147;
    border-radius: 8px;
    text-align: center;
    padding-top: 10px;
}

section .take-meet a{
    font-family: 'HK Grotesk';
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.25px;
    color: white;
}

/* Media-Meet */


/* Banner */

/* Navbar */

nav{
    border-top: 1px solid #EDF0F4;
    border-bottom: 1px solid #EDF0F4;
    position: relative;
}

nav .navbar-text ul{
    display: flex;
    margin-top: 14px;
    margin-bottom: 14px;
}

nav .navbar-text ul li{
    margin-left: 32px;
}

nav .navbar-text ul li:first-child{
    margin-left: 0px;
}

nav .navbar-text ul li a{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.25px;
    color: #848B98;
}

nav .navbar-text ul li a:active{
    color: #273142;
}

nav .navbar-text ul li a:hover{
    color: #273142;
}

nav .navbar-text span{
    position: absolute;
    bottom: -1px;
    display: inline-block;
    width: 58px;
    height: 2px;
    background-color: #4CB147;
}

/* Navbar */


/* Doc-info */

section .doctor-information{
    display: flex;
}

/* Left */

section .left{
    width: 65%;
    margin-top: 32px;
    margin-bottom: 120px;
}

/* Information */

section .left .information h5{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
}

section .left .information p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.15px;
    color: #101825;
    margin-top: 16px;
}

section .left .information .docpoint{
    margin-top: 8px;
}

section .left .information .docpoint ul{
    display: flex;
    align-items: center;
}

section .left .information .docpoint ul li{
    margin-left: 8px;
}

section .left .information .docpoint ul li:first-child{
    margin-left: 0;
}

section .left .information .docpoint ul li:nth-child(2){
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.15px;
    color: #FFAD0D;
}

section .left .information .docpoint ul li:nth-child(3){
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #273142;
}

section .left .information .docpoint ul li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #4CB147;
}

section .left .information .contact p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.15px;
    color: #101825;
    margin-top: 16px;
}

section .left .information .contact .telephone{
    display: flex;
    align-items: center;
}

section .left .information .contact .telephone span{
    background-color: #FAECEC;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

section .left .information .contact .telephone span img{
    padding: 8px;
}

section .left .information .contact .telephone a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #101825;
    margin-left: 8px;
}

section .left .information .contact .gmail{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

section .left .information .contact .gmail span{
    background-color: #FAECEC;
    width: 32px;
    height: 32px;
    border-radius: 100%;
}

section .left .information .contact .gmail span img{
    padding: 8px;
    padding-top: 9px;
}

section .left .information .contact .gmail a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #101825;
    margin-left: 8px;
}

/* Information */

/* Education */

section .left .education{
    margin-top: 48px;
}

section .left .education h5{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
}

section .left .education h3{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.25;
    color: #848B98;
    margin-top: 16px;
}


section .left .education h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #101825;
    margin-top: 4px;
}


/* Education */

/* Work-time */


section .left .work-time{
    margin-top: 48px;
}

section .left .work-time h5{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
}

section .left .work-time p{
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #101825;
}

section .left .work-time .time-table{
    border: 1px solid #EDF0F4;
    width: 654px;
    border-radius: 8px;
    margin-top: 16px;
}

section .left .work-time .time-table .upper-table{
    display: flex;
    justify-content: space-between;
}

section .left .work-time .time-table .upper-table .date{
    margin-top: 24px;
    margin-left: 24px;
}

section .left .work-time .time-table .upper-table .date ul li{
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #848B98;
}

section .left .work-time .time-table .upper-table .date ul li:first-child{
    margin-top: 0;
}

section .left .work-time .time-table .upper-table .time{
    margin-right: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

section .left .work-time .time-table .upper-table .time ul li{
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #101825;
}

section .left .work-time .time-table .upper-table .time ul li:first-child{
    margin-top: 0;
}

section .left .work-time .time-table .bottom-table{
    border-top: 1px solid #EDF0F4;
    display: flex;
    justify-content: space-between;
}

section .left .work-time .time-table .bottom-table .date{
    margin-top: 12px;
    margin-left: 24px;
    margin-bottom: 12px;
}

section .left .work-time .time-table .bottom-table .date ul li{
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #848B98;
}

section .left .work-time .time-table .bottom-table .date ul li:first-child{
    margin-top: 0;
}

section .left .work-time .time-table .bottom-table .time{
    margin-right: 24px;
    margin-top: 12px;
    margin-bottom: 12px;
}

section .left .work-time .time-table .bottom-table .time ul li{
    margin-top: 12px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #101825;
}

section .left .work-time .time-table .bottom-table .time ul li:first-child{
    margin-top: 0;
}

/* Work-time */

/* Location */

section .left .location{
    margin-top: 48px;
} 

section .left .location .upper-loc{
    display: flex;
}

section .left .location h5{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
}

section .left .location p{
    margin-top: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #101825;
}

section .left .location .mapouter{
    margin-top: 16px;
    border-radius: 8px;
}

section .left .location .upper-loc .loc-cont{
    display: flex;
    align-items: center;
    margin-left: 170px;
}

section .left .location .upper-loc .loc-cont span{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: 1px solid #EDF0F4;
    background-color: white;
    cursor: pointer;
}

section .left .location .upper-loc .loc-cont span img{
    padding: 12px;
}

section .left .location .upper-loc .loc-cont p{
    margin-left: 8px;
    margin-right: 8px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5;
    color: #848B98;
}

/* Location */

/* Course */

section .left .course{
    margin-top: 48px;
}

section .left .course h5{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
}

section .left .course h6{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.25px;
    color: #848B98;
    margin-top: 16px;
}

section .left .course p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #101825;
    margin-top: 4px;
}

/* Course */

/* Insurances */

section .left .insurances{
    margin-top: 48px;
}

section .left .insurances h5{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
}

section .left .insurances .insurance{
    width: 654px;
    height: 56px;
    background-color: #FBFBFC;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
}

section .left .insurances .insurance:last-child{
    margin-top: 8px;
}

section .left .insurances .insurance p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.15px;
    color: #101825;
    margin-top: 16px;
    margin-left: 24px;
}

section .left .insurances .insurance a img{
    margin-top: 12px;
    margin-right: 32px;
}

/* Insurances */

/* Comments */

section .left .comment{
    margin-top: 48px;
}

section .left .comment h5{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
}

section .left .comment .comment-top{
    margin-top: 16px;
}

section .left .comment .comment-top ul{
    display: flex;
    align-items: center;
}

section .left .comment .comment-top ul li{
    margin-left: 16px;
}

section .left .comment .comment-top ul li:first-child{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #101825;
    margin-left: 0;
}

section .left .comment .comment-top ul li:last-child{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.15px;
    color: #FFAD0D;
}

section .left .comment .comment-bottom{
    margin-bottom: 32px;
}

section .left .comment .comment-bottom p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #101825;
}

section .left .comment .comment-bottom ul{
    display: flex;
    align-items: center;
    margin-top: 8px;
}

section .left .comment .comment-bottom ul li{
    margin-left: 8px;
}

section .left .comment .comment-bottom ul li:first-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.1px;
    color: #848B98;
    margin-left: 0;
}

section .left .comment .comment-bottom ul li:nth-child(2){
    font-size: 14px;
    color: #848B98;
}

section .left .comment .comment-bottom ul li:nth-child(4){
    font-size: 14px;
    color: #848B98;
}

section .left .comment .comment-bottom ul li:last-child{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.25px;
    color: #848B98;
}

section .left .comment .comment-medium{
    margin-top: 32px;
}

section .left .comment .comment-medium p{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #101825;
}

section .left .comment .comment-medium ul{
    display: flex;
    align-items: center;
}

section .left .comment a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.15px;
    color: #4CB147;
}


/* Comments */

/* Left */

/* Right */

section .right{
    width: 430px;
    height: 634px;
    background-color: white;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    margin-top: -200px;
    z-index: 9;
}

section .right h3{
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    color: #101825;
    margin-top: 32px;
    margin-left: 32px;
}

section .right h5{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.5px;
    color: #848B98;
    margin-top: 4px;
    margin-left: 32px;
}

section .right .meet-col{
    display: flex;
}

section .right .meet-col .meet-clinic{
    background-color: white;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    width: 172px;
    height: 80px;
    margin-left: 32px;
    margin-top: 16px;
    position: relative;
    transition: ease-in-out .3s;
    cursor: pointer;
}

section .right .meet-col .meet-clinic:last-child{
    background-color: white;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    width: 172px;
    height: 80px;
    margin-left: 8px;
    margin-top: 16px;
    position: relative;
    transition: ease-in-out .3s;
    cursor: pointer;
}

section .right .meet-col .meet-clinic:hover{
    background-color: #fff0f0;
    border: 1px solid #D45A5A;
}

section .right .meet-col .meet-clinic:hover:last-child{
    background-color: #ecfaed;
    border: 1px solid #4CB147;
}

section .right .meet-col .meet-clinic .meet-img img:first-child{
    margin-top: 20px;
    margin-left: 17px;
    position: relative;
    z-index: 9;
}

section .right .meet-col .meet-clinic .meet-img span{
    position: absolute;
    display: block;
    width: 32px;
    height: 32px;
    background-color: #F2FAF2;
    border-radius: 100%;
    top: 12px;
    left: 8px;
}

section .right .meet-col .meet-clinic .meet-img img:last-child{
    right: 14px;
    position: absolute;
    top: 8px;
}

section .right .meet-col .meet-clinic p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.25px;
    margin-left: 8px;
    margin-top: 8px;
}

/* Meet */

/* Choose Clinic */

section .right .choose-clinic{
    display: flex;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    margin-left: 32px;
    margin-top: 16px;
    width: 352px;
    height: 56px;
    align-items: center;
}

section .right .choose-clinic:last-child{
    margin-top: 8px;
}

section .right .choose-clinic:hover{
    background-color: #F2FAF2;
    border: 1px solid #4CB147;
    cursor: pointer;
}

section .right .choose-clinic input[type=checkbox]{
    margin: 16px 8px 16px 16px;
}

section .right .choose-clinic p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.1px;
    color: #273142;
}

section .right .date-time{
    margin-top: 16px;
}

section .right .date-time .date{
    display: flex;
    margin-left: 32px;
}

section .right .date-time .date ul{
    background-color: white;
    width: 63px;
    height: 45px;
    margin-left: 8px;
    border: 1px solid #EDF0F4;
    border-radius: 8px;
    text-align: center;
}

section .right .date-time .date ul:first-child{
    margin-left: 0;
}

section .right .date-time .date ul li:first-child{
    margin-top: 5px;
}

section .right .date-time .date ul li:last-child{
    color: #B7BBC2;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
}

section .right .date-time .date ul li p{
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    font-family: 'Hk Grotesk';
    letter-spacing: -0.1px;
}

section .right .date-time .time{
    margin-top: 16px;
    margin-left: 32px;
}

section .right .date-time .time ul{
    display: flex;
    margin-top: 8px;
}

section .right .date-time .time ul li{
    border-radius: 7px;
    background-color: #EDF0F4;
    margin-left: 8px;
    width: 64px;
    height: 30px;
    text-align: center;
    transition: linear .3s;
}

section .right .date-time .time ul li:first-child{
    margin-left: 0;
}

section .right .date-time .time ul li:hover{
    background-color: #4CB147;
    cursor: pointer;
}

section .right .date-time .time ul li p{
    margin-top: 5px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    letter-spacing: -0.1px;
    font-family: 'Hk Grotesk';
}

/* Right */

/* Doc-info */

/* Media */

@media (max-width: 768px) {

    section{
        padding-left: 16px;
    }

    nav{
        padding-left: 16px;
    }

    section .doc-info{
        padding-bottom: 16px;
    }

    section .doc-info .img-col span{
        left: 25px;
    }

    section .doc-info .text-col .upper-col{
        padding-top: 25px;
    }

    section .doc-info .text-col .medium-col{
        padding-top: 60px;
        margin-left: -165px;
    } 

    section .doc-info .text-col .info-col{
        margin-left: -165px;
    }

    section .media-meet-col{
        display: inherit;
        display: flex;
    }

    section .take-meet{
        display: inherit;
        padding-bottom: 16px;
    }

    section .left .education{
        width: 543px;
    }

    section .left .work-time .time-table{
        width: 543px;
    }

    section .left .location .upper-loc{
        display: inherit;
    }

    section .left .location .upper-loc .loc-cont{
        margin-left: 0px;
        justify-content: space-between;
        width: 543px;
        margin-top: 12px;
    }

    section .left .location .mapouter{
        width: 543px;
    }

    section .left .location .mapouter .gmap_canvas{
        width: 543px;
    }

    section .left .location .mapouter .gmap_canvas iframe{
        width: 543px;
    }

    section .left .course{
        width: 543px;
    }

    section .left .insurances .insurance{
        width: 543px;
    }

    section .left .comment{
        width: 543px;
    }

    section .right{
        display: none;
    }

}
